[Unit]
Description=Raspberry Pi Relay Controller
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u service/main.py
WorkingDirectory=/home/pi/iot-raspberry-pi-controller
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target